footer{
    position: absolute;
    margin-bottom: 0px;
    width: 100%;
}
.navbar{
    background: rgb(60, 140, 228);
    justify-content: center;
    height: 60px;
}
.s-m{
    position:relative;
    
}
.s-m a{
    display: inline-flex;
    width: 32px;
    height: 32px;
   
    color: white;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 15px;

}

.s-m a:hover{
    background-color: #394694;
    
    color: white;
    text-decoration: none;
    
    
}