<div class="container p-4">
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <div class="card">
                <div class="card-body">
                        
                    <form [formGroup]="form" 
                        (ngSubmit)="updatePet(mascota.id)">
                        
                        <div class="titulo">
                            <h4>Datos de la Mascota</h4>
                        </div>

                        <input type="text" formControlName="nombre" placeholder="Nombre"
                            class="form-control" autofocus>

                        <input type="text" formControlName="chip" placeholder="Chip" class="form-control">

                        <input type="text" formControlName="animal" placeholder="Animal" class="form-control">

                        <input type="text" formControlName="raza" placeholder="Raza" class="form-control">

                        <input type="text" formControlName="sexo" placeholder="Sexo"
                            class="form-control">

                        <input type="text" formControlName="fechanacimiento" placeholder="Fecha de nacimiento" class="form-control">

                        <input type="submit" class="btn btn-lg btn-success btn-block">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body text-center">

                <h3>{{form?.controls['nombre'].value}}</h3>
                <p>{{form?.controls['chip'].value}}</p>
                <p>{{form?.controls['animal'].value}}</p>
                <p>{{form?.controls['raza'].value}}</p>
                <p>{{form?.controls['sexo'].value}}</p>
                <p>{{form?.controls['fechanacimiento'].value}}</p>
            </div>
        </div>
    </div>
</div>
