<div class="container-fluid">
    <div class="row">
        <div class="card col-12">
            <div class="card-header text-center d-flex justify-content-between align-items-center">
                <h2>{{mascota.nombre}}</h2>
                    <div class="botonEdit">
                        <button class="btn btn-success" [routerLink]="['/edit-mascota', mascota.id]" >
                            <i class="fas fa-paw"></i>  
                            Editar Mascota 
                        </button>
                    </div>
                    <div class="botonEdit">
                        <button class="btn btn-info" [routerLink]="['/vethome']">
                            <i class="fas fa-arrow-left"></i>  
                            volver 
                        </button>
                    </div>
                    <div class="botonDelete">
                        <button class="btn btn-danger" (click)="deletePet(mascota.id)">
                            <i class="far fa-trash-alt"></i>
                            Borrar Mascota
                        </button>
                    </div>
            </div>
            <div class="card-body col-md-6">
    
                <h5 class="card-label"> CHIP: </h5>
                <p class="card-text">{{mascota.chip}}</p>
                
                <h5 class="card-label"> Animal: </h5>
                <p class="card-text">{{mascota.animal}}</p>
                
                <h5 class="card-label"> Raza: </h5>
                <p class="card-text">{{mascota.raza}}</p>
                
                <h5 class="card-label"> Sexo: </h5>
                <p class="card-text">{{mascota.sexo}}</p>

                <h5 class="card-label"> Fecha de nacimiento: </h5>
                <p class="card-text">{{mascota.raza}}</p>
                
            </div>
            <div class="card-body col-md-6">
                <h5>Historial</h5>   
            </div>
        </div>
    </div>
</div>
