<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"> DogtorApp </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item ml-5" *ngIf="!logvetservice.logged()">
                <a class="nav-link" href="#"> SignIn Dueños </a>
            </li>

            <li class="nav-item" *ngIf="!logvetservice.logged()" >
                <a class="nav-link" [routerLink]="['/regvet']"> SignIn Veterinarios </a>
            </li>
            <li class="nav-item" id="inicio" *ngIf="logvetservice.logged()" [routerLink]="['/vethome']">
                <a class="nav-link" > <i class="fas fa-clinic-medical"></i>Inicio </a>
            </li>
            <li class="nav-item" id="inicio" *ngIf="logvetservice.logged()" [routerLink]="['/reg-cliente']">
                <a class="nav-link" ><i class="fas fa-user-edit"></i> Añadir Cliente </a>
            </li>
            <li class="nav-item" *ngIf="logvetservice.logged()">
                <a class="nav-link" ><i class="fas fa-paw"></i> Pacientes </a>
            </li>
            <li class="nav-item" *ngIf="logvetservice.logged()">
                <a class="nav-link" ><i class="fas fa-calendar-alt"></i> Citas </a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <form class="form-inline active-dark-3 active-dark-4">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Buscar"
                    aria-label="Search">
            </form>
        </form>
        <ul class="navbar-nav mr-1">
            <li class="nav-item" *ngIf="!logvetservice.logged()">
                <a class="nav-link" href="#" [routerLink]="['/logvet']"> <strong>LogIn Vet</strong> </a>
            </li>
            <li class="nav-item" *ngIf="logvetservice.logged()" >
                <a class="nav-link" (click)="logvetservice.logOut()" id="logOut"> Logout Vet </a>
            </li>
        </ul>
    </div>
</nav>