<div class="container-fluid">
  <div class="row">
    <div class="card col-12">
        <div class="card-header text-center">
          <h2>{{cliente.nombrecompleto}}</h2>
        </div>
        <div class="card-body">
  
          <h5 class="card-label"> Direccion: </h5>
          <p class="card-text">{{cliente.direccion}} - {{cliente.poblacion}}</p>
  
          <h5 class="card-label"> DNI: </h5>
          <p class="card-text">{{cliente.dni}}</p>
  
          <h5 class="card-label"> Telefono movil: </h5>
          <p class="card-text">{{cliente.telefonomovil}}</p>
  
          <h5 class="card-label"> E-mail: </h5>
          <a href="mailto:cliente.email" class="card-text">{{cliente.email}}</a >
          <div class="row m-0">
  
            <div class="col-md-3 mb-3" *ngFor="let mascota of mascotas">
                <div class="card text-center">
                    <div class="card-header d-flex justify-content-between align-items-center">
        
                      {{mascota.nombre}}    
                    </div>
                    <img src="" class="card-img-top">
                    <div class="card-body">
                        <p>{{cliente.direccion}}</p>
                        <p>{{cliente.email}}</p>

                        <p>{{cliente.direccion}}</p>
                        <p>{{cliente.direccion}}</p>
                        <!-- <div class="botonPets" *ngFor="let mascota of mascotas"> -->
                            <a class="btn btn-info btn-block" [routerLink]="['/vethome/cliente', cliente.id]">
                                Informacion detallada
                            </a>
                        <!-- </div>  -->
                        
                    </div>
                </div>
            </div>
          </div> 
        </div>
        <div class="card-footer text-muted">
          
        </div>
    </div>
  </div>
</div>