<div class="titulo">
    <h3>{{clinica?.nombreclinica}}</h3>
    <h4>Lista de Clientes</h4>
</div>



<div class="container-fluid">
    <ul class="list-group mb-2">
        <div class="card">
            <div class="card-body row">
                <span class="col-3">Maruja Caballa Pescadilla</span>
                <span class="col-1">45862578-F</span>
                <span class="col-2">direccion</span>
                <span class="col-1">poblacion</span>
                <span class="col-1">333444555</span>
                <span class="col-3">salsadecarne@gmail.com</span>
                <button class="col-1" > Mascotas
                    
                </button>
            </div>
        </div>
        
    </ul>
</div>