<div class="titulo">
    <h3>{{clinica?.nombreclinica}}</h3>
    <h4>Lista de Clientes</h4>
</div>



<div class="row">
    <div class="col-md-3 mb-3" *ngFor="let cliente of clientes">
        <div class="card text-center">
            <div class="card-header d-flex justify-content-between align-items-center">

                {{cliente.nombrecompleto}}
                
                <button class="btn btn-success" >
                    <i class="fas fa-user-edit"></i>   
                </button>
                <button class="btn btn-danger" (click)="deleteClient(cliente.id)">
                    <i class="far fa-trash-alt"></i>
                </button>
                
                
            </div>
            <img src="" class="card-img-top">
            <div class="card-body">
                <p>{{cliente.direccion}} - {{cliente.poblacion}}</p>
                <p>{{cliente.email}}</p>
                <p>{{cliente.mascotas}}</p>
                <a class="btn btn-info btn-block">
                    Ver Mascotas
                </a>
            </div>
        </div>
    </div>
</div>