*{
    padding: 0 auto;
}
.titulo{
    text-align: center
}
h1{
    color:#ededed;
    text-shadow: rgb(0, 0, 0, .6)
    
}
h4{
    color:#ededed;

}

.btn{
    background-color: #394694;
    color: white
}
.back{
    background: url(../../../assets/images/gatoPerro.jpg) no-repeat ;
    background-size: cover;
    height: 100vh;
}