.card-body{
    border:2px solid black;
    border-radius:20px;
    height: 600px;
}
.container-fluid{
    
    background-image: url(../../../assets/images/perromajo.jpg);
    background-size: cover;
}
.form-control{
    margin:20px 0;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    color:black;
    border: none
}

.link{
    text-shadow: 4px white;
}