<div class="container-fluid">
  <form class="form-signin p-4 text-center" [formGroup]="form">
    <div class="card-body container col-md-4 form-group">
      <img class="mb-4" src="../../../assets/images/doggtor.jpg" alt="" width="100" height="100">

      <h3 class="mb-3 font-weight-normal">Registra tu clinica</h3>

      <input formControlName="nombreclinica" type="text" id="inputNombreclinica" class="form-control" placeholder="Nombre de la clinica" required autofocus>

      <input formControlName="nombreVet" type="text" id="inputNombreVet" class="form-control" placeholder="Nombre del Veterinario" required>

      <input formControlName="telefono" type="text" id="inputTelefono" class="form-control" placeholder="Telefono de contacto" required >
      
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Direccion de E-mail" required >
      
      <input formControlName="password" type="password" id="inputPassword1" class="form-control" placeholder="Password" required>

      

      <div class="checkbox mb-3">
        <label>
          <a href="" [routerLink]="['/logvet']" > ¿Ya estas registrado? </a>
        </label>
      </div>

      <button class="btn btn-lg btn-success btn-block" [routerLink]="['/logvet']" (click)="saveVet()"> Registrar </button>
      
    </div>
    
  </form>
</div>