<div class="container-fluid">

  <form novalidate class="form-signin p-4 text-center" [formGroup]="form" (ngSubmit)="saveVet()">

    <div class="card-body container col-md-4 form-group">
      

      <h3 class="mb-3 font-weight-normal">Registra tu clinica</h3>
      
      <input formControlName="nombreclinica" type="text" id="inputNombreclinica" class="form-control" placeholder="Nombre de la clinica" autofocus>

      <input formControlName="nombreVet" type="text" id="inputNombreVet" class="form-control" placeholder="Nombre del Veterinario">

      <input formControlName="telefono" type="text" id="inputTelefono" class="form-control" placeholder="Telefono de contacto">
      
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Direccion de E-mail">
      
      <input formControlName="password" type="password" id="inputPassword1" class="form-control" placeholder="Password">

      

      <div class="checkbox mb-3">
        <label>
          <a href="" [routerLink]="['/logvet']" class="link"> ¿Ya estas registrado? </a>
        </label>
      </div>

      <input type="submit" class="btn btn-lg btn-success btn-block" [disabled]="form.invalid"> 
      
    </div>
    
  </form>

</div>